@import './base.css';

body {
  display: flex;
  min-height: 100vh;
  font-family: var(--font-family);
  justify-content: center;
  background-color: grey;
}

#app {
  max-width: 415px;
  width: 100%;
  position: relative;
  background-color: var(--color-background);
}

// Main component

nav {
  position:fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--color-background);
  opacity: 0.99;
  border-top: 0.5px solid white;
  max-width: 415px;
}

.menu > a {
  text-decoration: none;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: var(--spacing-1);
}

.menu__item {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items: center;

    &--active {
      color: orange;
    }
  }

.menu__item--active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Home view

.main__home {
  padding: var(--spacing-1);
  color: var(--color-text);
  margin-bottom: 70px;
}

h1 {
  padding: 0.4em;
  font-family: var(--font-family-h1);
  font-size: var(--font-size-h1);
  text-align: center;
  color: var(--color-text);


  & > span {
    color: orange;
  }
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
  margin: var(--spacing-2) 0;
}

// Search view

.search__header {
  color: white;
  padding: var(--spacing-1);
}

#search {
  width: 100%;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 1em;
}

// cardList component

.cardList {
  padding: 0 var(--spacing-2);
  color: var(--color-text);
}

.loading {
  min-height: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.cardList__container{
  display: flex;
  gap: var(--spacing-2);
  overflow-x: scroll;
  padding: var(--spacing-1);

  &--vertical {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
}

.cardList .item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--color-text);
    gap: 1em;
}

.cardList__container::-webkit-scrollbar {
  background-color: var(--color-background);
  height: 8px;

}

.cardList__container::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 5px;
}

// List component

.list {
  color: white;
}

.list .item a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0.4em;
  align-items: center;
}

.list .item__subtitle {
  font-size: 0.8em;
}


// Artist detail view

.main__artist {
  padding: var(--spacing-1);
  color: var(--color-text);
}

.artist__header {
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
}

.artist__info {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  gap: 1em;
}

// Album detail

.header__albumDetail {
  margin-top: 70px;
  color: white;
  padding: var(--spacing-1);
}

.image__albumDetail {
  display: flex;
  justify-content: center;
}

.info__albumDetail {
  display: flex;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
  gap: 0.5em;
}

.main__album {
  padding: var(--spacing-1);
  margin-top: 2em;
}


// Song detail


.container__songDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 10rem;
}

.song__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  color: white;
  width: 100%;
}

.song__title {
  font-size: 1em;
  font-weight: bold;
}

.song__artist {
  font-size: 0.8em;
}

.song__album {
  font-size: 0.8em;
  color: white;
  text-align: center;
  margin: 1rem 0;
  .song__album__title {
    font-weight: bold;
  }
}

// Boutons filtres

.filters {
  display: flex;
  justify-content: space-evenly;
}
.button__filters {
  background-color: var(--color-background);
  padding: 0.5em;
  color:  white;
  border: 1px solid white;
  border-radius: 15px;
}

.button__filters input {
  display: none;
}

.button__filters input:checked {
  display: inline;
  accent-color: aliceblue;
}
// Refresh icon
.refreshIcon {
  position: absolute;
  top: 20px;
  right: 10px;
  color: orange;
}

// Back icon
.backIcon {
  position: absolute;
  top: 20px;
  left: 10px;
  color: orange;
}

// Upward icon
.upwardIcon {
  z-index: 10;
  position:sticky;
  bottom: 40px;
  float: right;
  color: orange;
  opacity: 0;

  &.show {
    opacity: 1;
  }
}
